@font-face {
  font-family: "Exo2-Black";
  src: url("~/assets/fonts/Exo2-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-BlackItalic";
  src: url("~assets/fonts/Exo2-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-Bold";
  src: url("~assets/fonts/Exo2-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-BoldItalic";
  src: url("~assets/fonts/Exo2-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-ExtraBold";
  src: url("~assets/fonts/Exo2-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-ExtraBoldItalic";
  src: url("~assets/fonts/Exo2-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-ExtraLight";
  src: url("~assets/fonts/Exo2-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-ExtraLightItalic";
  src: url("~assets/fonts/Exo2-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-Italic";
  src: url("~assets/fonts/Exo2-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-Light";
  src: url("~assets/fonts/Exo2-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-LightItalic";
  src: url("~assets/fonts/Exo2-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-Medium";
  src: url("~assets/fonts/Exo2-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-MediumItalic";
  src: url("~assets/fonts/Exo2-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-Regular";
  src: url("~/assets/fonts/Exo2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-SemiBold";
  src: url("~assets/fonts/Exo2-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-SemiBoldItalic";
  src: url("~assets/fonts/Exo2-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-Thin";
  src: url("~assets/fonts/Exo2-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2-ThinItalic";
  src: url("~assets/fonts/Exo2-ThinItalic.ttf") format("truetype");
}
